Source: sysbox-ce
Section: admin
Priority: optional
Maintainer: Nestybox <contact@nestybox.com>
Build-Depends: debhelper (>= 10~),
               bash,
Standards-Version: 4.1.4
Homepage: nestybox.com
Vcs-Git: git://github.com/nestybox/sysbox.git

Package: sysbox-ce
Architecture: linux-any
Pre-Depends: jq
Depends: ${shlibs:Depends},
         ${misc:Depends},
         debconf,
         jq,
         fuse,
         lsb-release,
         rsync,
         iptables
Description: Sysbox Community Edition (CE) is a next-generation container runtime,
 developed by Nestybox, that enables deployment of containers that are capable of
 running not just micro-services, but also system software such as Docker, Kubernetes,
 Systemd, etc., inside the container, easily and securely.