#!/bin/bash
#
# Copyright: (C) 2019-2021 Nestybox Inc.  All rights reserved.
#

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

# UID-shifting module
shiftfs_module="shiftfs"

# Dockerd default configuration dir/file.
dockerCfgDir="/etc/docker"
dockerCfgFile="${dockerCfgDir}/daemon.json"

# State of docker's network configuration.
valid_network_config="false"

# Dockerd userns-remap mode.
userns_remap_on="false"

# Shiftfs module presence.
shiftfs_module_on="false"

#
# Determines if docker network configuration is complete. That is, 'bip'
# and 'default-address-pools' attributes are properly configured.
#
function docker_network_valid_config() {

    # Matching pattern:
    #
    #   "bip": "172.20.0.1/16"
    #   "default-address-pools": [
    #
    if [[ -f ${dockerCfgFile} ]] &&
        egrep -q "^[ ]+\"bip\": \"[0-9.]+.*\"" ${dockerCfgFile} &&
        egrep -q "^[ ]+\"default-address-pools\"" ${dockerCfgFile}; then
        valid_network_config=true
    fi
}

#
# Finds out if docker is operating in 'userns-remap' mode.
#
function docker_userns_remap_mode() {

    # Matching pattern:
    #
    #   "userns-remap": "sysbox"
    #
    if [[ -f ${dockerCfgFile} ]] &&
        egrep -q "^[ ]+\"userns-remap\": \"[a-zA-Z0-9]+.*\"" ${dockerCfgFile}; then
        userns_remap_enabled="true"
    fi
}

#
# Finds out if there are existing containers in the system.
#
function docker_existing_containers() {

    if docker ps -a | wc -l | egrep -q "1$"; then
        return 1
    fi

    return 0
}

#
# Presence / Absence of shiftfs module.
#
function shiftfs_module_present() {

    if modprobe "${shiftfs_module}" &> /dev/null; then
        shiftfs_module_on="true"
    fi
}

#
# Function returns 'true' to indicate that dockerd needs to be restarted during
# Sysbox installation process. Returns 'false' otherwise.
#
function docker_restart_required() {

    docker_userns_remap_mode
    shiftfs_module_present
    docker_network_valid_config

    # There are only two scenarios for which dockerd would not need to be restarted:
    #
    # 1) 'userns-remap' is already ON, and docker is operating with the expected
    #    network configuration.
    #
    # 2) shiftfs module is present, and docker is operating with the expected
    #    network configuration.

    # Case 1)
    if [ ${userns_remap_on} = "true" ]; then
        if [ ${valid_network_config} = "true" ]; then
            return 1
        else
            return 0
        fi
    fi

    # Case 2)
    if [ ${shiftfs_module_on} = "true" ]; then
        if [ ${valid_network_config} = "true" ]; then
            return 1
        fi
    fi

    return 0
}

#
# Checks if the docker engine is installed on the host
#
function docker_installed() {
	ret=$(which dockerd)
	return $?
}

#
# Checks if the docker engine is running on the host
#
function docker_running() {
	ret=$(pidof dockerd)
	return $?
}

#
# Main
#

# If a docker-restart is required in this setup, and there are existing containers,
# alert user of the need to stop containers and exit installation process.
if docker_running && docker_restart_required && docker_existing_containers; then
    echo -e "\nSysbox installer found existing Docker containers. Please remove"\
            "them as indicated below. Refer to Sysbox installation documentation for details.\n"\
            "\t\"docker rm \$(docker ps -a -q) -f\"\n"
    exit 1
fi

# If no uid-shifting module is found then there may be a need to impact existing
# docker containers during the installation process. Ask user for permission to
# allow installation process to proceed.
if [ ${shiftfs_module_on} = "false" ]; then

    echo -e "\nYour OS does not include the shiftfs module. Make sure to configure"\
			"the container manager (e.g., Docker, CRI-O, etc) to use the Linux user-namespace"\
			"when creating containers with Sysbox.\n"

	 if docker_installed; then
		 if [ ${userns_remap_on} = "false" ]; then
			 db_input critical sysbox/docker_userns_remap_autoconfig || true
			 db_go || true
		 fi
	 fi
fi

#DEBHELPER#
