#!/bin/bash

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

# UID-shifting module
shiftfs_module="shiftfs"

# Dockerd default configuration dir/file.
dockerCfgDir="/etc/docker"
dockerCfgFile="${dockerCfgDir}/daemon.json"

# Dockerd userns-remap mode.
userns_remap_enabled=false

# Determine if docker is operating in 'userns-remap' mode.
if [[ -f ${dockerCfgFile} ]] &&
    [[ $(jq 'has("userns-remap")' ${dockerCfgFile}) = true ]] &&
    [[ ! $(jq '."userns-remap"' ${dockerCfgFile}) = "\"\"" ]]; then
    userns_remap_enabled=true
fi

# If no uid-shifting module is found then there may be a need to impact existing
# docker containers during the installation process. Ask user for permission to
# allow installation process to proceed.
if [[ ${userns_remap_enabled} = false ]]; then
    if ! lsmod | grep "${shiftfs_module}" &> /dev/null ; then
        db_input critical sysbox/docker_userns_autoconfig || true
        db_go || true
    fi
fi

#DEBHELPER#